{
    "extends": "standard",
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "node/no-callback-literal": "off"
    }
}